<html lang="en">
<head ng-app="app">
    <meta charset="UTF-8">
    <title>Blog home</title>
    <style>
        body{
            background-image:url(https://i2.wp.com/www.photoblog.com/learn/wp-content/uploads/2017/09/zoom-lens-bird-photo.jpg?resize=1320%2C742&ssl=1);
        }

        .Text{
            color:white;

        }
        .container{
            margin-top:50px;
            text-align: right;
        }
    </style>


</head>
<body>
<% include partials/header %>
<div class="container" >
    <h1 class = 'center Text'>Join Click'o'Blog</h1>
    <h2 class ='center Text'>Spread love with your pics !!</h2>
    <a type='button' class ='btn btn-default btn-lg' href="/signUp" >Sign Up</a>

</div>





</body>
</html>