<html lang="en">
<head ng-app="app">
    <meta charset="UTF-8">
    <title>Blog home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            background-image:url(https://i2.wp.com/www.photoblog.com/learn/wp-content/uploads/2017/09/zoom-lens-bird-photo.jpg?resize=1320%2C742&ssl=1);
            background-size: cover;
            background-repeat: no-repeat;

        }
        /* Responsive layout - makes a two column-layout instead of four columns */
        @media screen and (max-width: 900px) {
            .Text {
                font-size: 14px;
            }

        }

        /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 600px) {
            .Text {
                font-size: 20px;
            }

        }
        .Text{
            color:white;


        }
        .container{
            margin-top:300px;
            text-align: left;
        }
    </style>


</head>
<body>
<% include partials/header %>
<div class="container" >
    <h1 class = 'center Text'>Join Click'o'Blog</h1>
    <h2 class ='center Text'>Spread love with your pics !!</h2></br>
    <a type='button' class ='btn btn-default btn-lg' href="/signUp" >Sign Up</a>

</div>





</body>
</html>