<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <link rel="stylesheet" href="../styles/signUp.css">
</head>
<body>

<% include partials/header %>

<div class="signup__container">
    <div class="container__child signup__thumbnail">
        <div class="thumbnail__logo">
            <h1 class="logo__text">Spectre</h1>

        </div>
        <div class="thumbnail__content text-center">
            <h1 class="heading--primary">Welcome to Click-o-Blog.</h1>
            <h2 class="heading--secondary">Are you ready to join the elite?</h2>
        </div>
    </div>
    <div class="container__child signup__form">

        <form ng-app = 'app' class="form-horizontal" action = '/signUp' method = 'post' ng-controller="RegisterCtrl" name="registerForm" novalidate>
            <fieldset>

                <% if(message.length>0){%>
                <div style="color:Red ;padding-left: 50px" class= "alert alert-danger" role = "alert"><%= message %></div>
                <%}%>
                <div class="control-group">
                    <!-- Username -->
                    <label class="control-label"  for="username">Username</label>
                    <div class="controls">
                        <input type="text" id="username" name="username" placeholder=" Pick a Username" class="input-xlarge" ng-model="User.username" ng-change="userValidate(User.username)" required ng-minlength="4">
                        <span style="color:Red"class="help-block" ng-show="userPresent">Username already taken</span>
                        <span style="color:Red" ng-show="registerForm.username.$invalid && !registerForm.username.$pristine" class="help-block">Username should be atleast 4 characters.</span>
                    </div>

                </div>

                <div class="control-group">
                    <!-- E-mail -->

                    <label class="control-label" for="email">E-mail</label>

                    <div class="controls">
                        <input type="email" id="email" name="email" placeholder=" you@example.com" class="input-xlarge" ng-model="User.email" ng-change="emailValidate(User.email)"required>
                        <span  style="color:Red" ng-show="emailPresent" class="help-block">Email already taken.</span>
                        <span  style="color:Red" ng-show="registerForm.email.$invalid && !registerForm.email.$pristine && !registerForm.email.length" class="help-block">Enter a valid email.</span>

                    </div>

                </div>

                <div class="control-group">
                    <!-- Password-->
                    <label class="control-label" for="password">Password</label>
                    <div class="controls">
                        <input type="password" id="password" name="password" placeholder="" class="input-xlarge" ng-model ="User.password" required ng-pattern="/^(?=.*\d+)(?=.*[a-zA-Z])[0-9a-zA-Z!@#$%]{6,}$/">
                        <span  style="color:Red" ng-show="registerForm.password.$error.pattern && !registerForm.password.$pristine" class="help-block">Enter a valid password.</span>
                        <span  style="color:Red" ng-show="enterPassword" class="help-block">Please enter Password first.</span>
                        <p class="help-block">Use at least one letter, one numeral, and six characters.</p>
                    </div>
                </div>

                <div class="control-group">
                    <!-- Password -->
                    <label class="control-label"  for="password_confirm">Password (Confirm)</label>
                    <div class="controls">
                        <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge" ng-model="User.confirmPassword"
                               ng-keyup="validatePassword(User.password,User.confirmPassword)" ng-disabled="registerForm.password.$invalid"required >
                        <span  style="color:Red" ng-show="validPassword" class="help-block">Password doesn't match.</span>
                        <p class="help-block">Please confirm password</p>
                    </div>
                </div>


                <div class="control-group">
                    <!-- Button -->
                    <div class="controls">
                        <button class="btn btn-success"  ng-disabled="registerForm.$invalid">Register</button>
                        <p style="color:Green"class ="status" ng-model="status"></p>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>

</div>        <!--script src="../scripts/angular.min.js"></script-->
<!--script src ="https://code.angularjs.org/1.2.32/angular.min.js.map"></script-->
<!--script src="https://code.angularjs.org/1.2.32/angular.min.js"></script>

<script src="app.js"></script-->

<!--Controllers-->
<script src="../controllers/signup.controller.js"></script>

</body>