* {
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    padding: 20px;
    font-family: Montserrat;
}

.row {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;

}

/* Add padding BETWEEN each column */
.row,
.row > .column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width:25%;
    height:auto;
    border-width:thin;
    border-style: dotted;
}
.column:hover{
    background-color: lightgray;
}

.title:hover{
    color: #1abc9c !important;
}

.photographer:hover{
    color: #1abc9c !important;
}

/* Clear floats after rows */
.row::after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding:10px;

}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

@media screen
and (min-device-width : 1024px)
and (max-device-width : 1366px)
and (-webkit-min-device-pixel-ratio: 2){
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}


